body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

h1 {
  font-size: 5rem;
  margin: 50px auto 0 auto;
  width: 20%;
  font-family: "Sacramento", cursive;
  position: relative;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  padding-top: 30px;
  padding-bottom: 60px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}
a,
.fa-brands {
  color: #11999e;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
p {
  line-height: 2;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #404949;
  border-width: 6px;
  height: 0;
  width: 4%;
  margin: 100px auto 100px auto;
}
.contact-me {
  margin-bottom: 60px;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.intro {
  width: 30%;
  margin: auto;
}

.container1 {
  background-color: #e4f9f5;
}

.bottomCloud {
  position: relative;
  bottom: 320px;
}

.topCloud {
  position: relative;
  left: 300px;
  top: 10px;
}
.profilePic {
  margin: 100px auto 0;
}
.carouselHeading {
  font-weight: bold;
  font-size: 3rem;
  width: auto;
}
.carouselContent {
  width: 30%;
  margin: auto;
  padding-bottom: 30px;
}
.carouselIMG {
  width: 30%;
  height: 600px;
}
.techExpRow {
  width:fit-content;
  margin: auto;
  text-align: center;
}
.techExpContent {
  margin: auto;
  text-align: justify;
}

.techExpIMG {
  height: 264px;
  width: 264px;
  object-fit: contain;
}

.skill-row {
  /* height:150px;*/
  width: 50%;
  margin: 50px auto 50px auto;
  padding-top: 30px;
  text-align: left;
}
.pcImg {
  width: 20%;
  float: left;
  margin-right: 30px;
}
.footballImg {
  width: 20%;
  float: right;
  margin-left: 30px;
}
.name {
  color: #c9e6e6;
}
.profilePic {
  height: 77;
}

.btnContact {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnContact:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
